*results.txt
error.txt
Fast-Search.SED
lua5.1.dll
makeEXE.bat
lfs.dll
*.exe
Releases
*stats.txt
Store
test.ps1
test.lua
SearchOptions.txt
context.ps1
fast-search.code-workspace
*done.txt
robosearch.lua